{% extends 'base.html' %}
{% block title %}
Forget You Password?
{% endblock title %}
{% block content %}
<h1>Forget You Password</h1>
<p>Enter your email address below, and we will email instructions for setting a new one</p>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Send me instructions" class="btn btn-success">
</form>
{% endblock content %}