{% extends 'base.html' %}

{% block title %}
Email Sent
{% endblock title %}
{% block content %}
    <h1>Check you inbox.</h1>
    <p>We have emailed the instructions successfuly.</p>
{% endblock content %}