{% extends 'base.html' %}
{% block title %}Password Change{% endblock title %}

<h1>Password change</h1>
<p>Please enter your old password,and then enter your new password twice so we can verify typed it in correctly.</p>
{% block content %}
<form method="POST">
    {% csrf_token %}
    {{form.as_p}}
    <button class = "btn btn-success" type="submit">Change my Password</button>
</form>
{% endblock content %}