{% extends 'base.html' %}
{% block title %}Home{% endblock title %}
{% block content %}
<div class="jumborton">
    <h1 class="dispaly-4">NEWSPAPER app</h1>
    <p class ="lead" >A NEWSPAPER website built with django</P>
    <p class="lead">
    <a class="btn btn-success ml-2"href="{% url 'article_list' %}"role="button">
    view all articles </a>
      </p>
    </div>
{% if user.is_authenticated %}
    Hi {{user.username}}
    <p><a href={% url 'logout' %}>Log Out</a></p>
{% else %}
    <p>You are not logged in</p>
    <a href={% url 'login' %}>Log In</a>
    <a href={% url 'signup' %}>Sign Up</a>
{% endif %}
{% endblock content %}